<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      tr,
      th,
      td {
        border: 2px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Forecast for city: <%= cityname %></h1>
    <table>
      <tr>
        <th>date and time</th>
        <th>temperature</th>
        <th>Weather description</th>
      </tr>
      <% details.forEach((forecast)=>{ %>
      <tr>
        <td><%= forecast.dt_txt %></td>
        <td><%= forecast.main.temp %></td>
        <td><%= forecast.weather[0].description %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
